a {
    vertical-align: baseline;
}

/*HEADER*/
header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 50px;
    width: 100%;
    background-color: white;
    border: 1px black;
    z-index: 9000;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 100;
}

header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    text-decoration: none;
}

header nav a span {
    /*padding: 14px;*/
}

.response-nav-bar a {
    /*display: block;*/
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    position: relative;
}

#response-nav {
    color: #000000;
    font-family: 'SangBleu Empire';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /*line-height: 44px;*/
    margin: auto;
}

.response-nav-bar .menu-items {
    color: #5C5C5C;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /*line-height: 31px;*/
    margin: auto;
}

.response-nav-bar .menu-items:hover:not(.active) {
    background-color: #872937;
    color: white;
}

#response-nav:hover:not(.active) {
    color: #872937;
}
/*HEADER*/

/*MAIN*/
main {
    display: block;
    margin-top: 50px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    position: absolute;
    left: 0px;
}

    /*FEATURED CONTENT*/
section {
    position: relative;
}

#featured-content {
    display: grid;
    grid-template-columns: 3fr 3fr;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    #featured-content {
        display: grid;
        grid-template-columns: 6fr;
    }
}

#featured-content div:first-of-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 30px 120px;
    width: 100%;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    #featured-content div:first-of-type {
        padding: 18px;
    }
}

#featured-content div:first-of-type h1 {
    font-family: 'SangBleu Empire';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    display: flex;
    align-items: center;
    color: #000004;
}

#featured-content div:first-of-type h4 {
    font-family: 'SangBleu Empire';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #69757A;
}

#featured-content div:first-of-type p {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #221E1F;
}

#featured-content div:last-of-type {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#featured-img {
    background-image: url('../images/MIKE-11-scaled_1210x580_acf_cropped.jpeg');
    /*height:100%;*/
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 1px solid black;
    position: relative;
}
    /*FEATURED CONTENT*/

    /*LATEST ARTICLES*/
.latest-articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 120px;
    gap: 60px;
    width: 100%;
}

.latest-articles .section-header {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 7px solid black;
    width: 100%;
}

.latest-articles .article-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
}

.latest-articles .article-row .article-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 24px 0px 0px;
    gap: 14px;
    border-right: 0.5px solid #000000;

}

/*CARD IMAGE*/
.latest-articles .article-row .article-card div {
    width: 100%;
    padding: 0px;
    /*aspect-ratio: 4/3;*/
}
.latest-articles .article-row .article-card div img {
    width: 100%;
    height: auto;
    /*aspect-ratio: 4/3;*/
}
/*CARD IMAGE*/

.latest-articles .article-row .article-card .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.latest-articles .article-row .article-card .text .heading-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.latest-articles .article-row .article-card .text .heading-content .category {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #5C5C5C;
    width: 100%;
}

.latest-articles .article-row .article-card .text .heading-content .title {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #3E2B2E;
    width: 100%;
}

.latest-articles .article-row .article-card .text .date {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #221E1F;
    width: 100%;
}


/*LATEST ARTICLES*/

.latest-article-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 120px;
    gap: 60px;
    width: 100%;
    /*max-width: 1512px;*/
}

.latest-article-section .section-header {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 7px solid black;
    width: 100%;
}

.latest-article-section .article-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: stretch;
}

.latest-article-section .article-container .article-card {
    position: relative;
    width: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 14px;
}

.latest-article-section .article-container .article-card:nth-child(4n+1) {
    flex: 0 0 25%;
    padding: 0 24px 0 0;
    box-shadow: none;
}

.latest-article-section .article-container .article-card:nth-child(4n+2) {
    flex: 0 0 25%;
    padding: 0 24px;
    box-shadow: -0.5px 0 0 0 black;
}

.latest-article-section .article-container .article-card:nth-child(4n+3) {
    flex: 0 0 25%;
    padding: 0 24px;
    box-shadow: -0.5px 0 0 0 black;
}

.latest-article-section .article-container .article-card:nth-child(4n) {
    flex: 0 0 25%;
    padding: 0 0 0 24px;
    box-shadow: -0.5px 0 0 0 black;
}

.latest-article-section .article-container .article-card img {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    /*width: 282px;*/
    height: 297px;
    object-fit: cover;
}

.latest-article-section .article-container .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.latest-article-section .article-container .text .heading-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.latest-article-section .article-container .text .heading-content .category {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #5C5C5C;
    width: 100%;
}

.latest-article-section .article-container .text .heading-content .title {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #3E2B2E;
    width: 100%;
}

.latest-article-section .article-container .text .date {
    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #221E1F;
    width: 100%;
}

/*MAIN*/