body {
  padding: 100px;
}

a {
  color: #872937;
  text-decoration: underline;
}

.row {
  border: 0px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 10px;
}

.col {
  display: inline-block;
  width: 33%;

}

.box {
  border: 1px solid #872937;
  border-radius: 25px;
  padding-top: 25px;
  width: 250px;
  height: 250px;
}

.header {
  text-align: center;
  color: #3E2B2E;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Trade Gothic LT Pro', Arial, sans-serif;
}

.text-deco {
  color: #872937;
  font-size: 16px;
  font-family: 'Trade Gothic LT Pro', Arial, sans-serif;
}

.spu-button{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 1em  .6em  .6em  0;
  padding: .8em 1.6em;
  border: 2px solid black;
  border-radius: 2px;
  transition: all 0.2s ease;
  font-size: 1.2rem;
  font-family: 'Trade Gothic LT Pro', Arial, sans-serif;
  text-decoration: none;
}
.spu-button_primary{
  background-color: #592B2F;
  border: 2px solid #592B2F;
  color: white;
  box-shadow: 4px 4px rgba(0,0,0,0.2);
}
.spu-button_primary:hover{
  background-color: #872937;
  box-shadow: none;
  transform: translate(4px, 4px);
}
.spu-button_primary_dark{
  background-color: #872937;
}
.spu-button_primary_dark:hover{
  background-color: #BA202E;
}

.wrapper {
  display: flex;
  justify-content: center;
}


