@import "public/scss/abstracts/variables";

.article-card-container-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 612px;
    object-fit: cover;
  }

  .article-info-container-horizontal {
    width: 68%;
    margin-top: -80px;
    padding: 24px;
    gap: 24px;
    background: $color-white;
    box-shadow: $box-shadow-article-page-article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 620px) {
  .article-card-container-horizontal img {
    height: auto;
  }
}

.title-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;

  h3 {
    font-family: 'Sang Bleu Empire Bold', serif;
    font-size: 52px;
    margin: 0;
    color: #000004;
  }

  h4 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #221E1F;
  }
}

.date {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #69757A;
}

.content {
  font-family: 'Inter Light', sans-serif;
  line-height: 36px;

  p {
    width: 64%;
    margin: 0 calc(16% + 32px) 36px auto;
    font-size: 22px;
  }

  h3 {
    width: 64%;
    margin: 0 calc(16% + 32px) 36px auto;
    font-size: 30px;
  }
}

@media only screen and (max-width: 620px) {
  .article-card-container-horizontal .article-info-container-horizontal {
    width: 82%;
    gap: 16px;
  }
  .title-author {
    h3 {
      font-size: 28px;
    }

    h4 {
      font-size: 20px;
    }
  }

  .date {
    font-size: 16px;
    line-height: 4px;
  }

  .content {
    line-height: 16px;

    p {
      width: 72%;
      margin: 0 calc(8% + 32px) 36px auto;
      font-size: 12px;
    }

    h3 {
      width: 72%;
      margin: 0 calc(8% + 32px) 36px auto;
      font-size: 16px;
    }
  }

}

.article-card-container-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 100%;
  height: auto;

  img {
    width: 48vw;
    /*height: auto;*/
    object-fit: cover;
  }

  .article-info-container-vertical {
    width: 68%;
    margin-left: -72px;
    margin-right: 12px;
    padding: 24px;
    gap: 24px;
    background: $color-white;
    box-shadow: $box-shadow-article-page-article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
